@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    /* position: absolute; */
}

.fade-leave-to {
    transform: translate(0, 50px);
}

.fade-enter-from {
    transform: translate(0, 50px);
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity, transform;
    transition-duration: var(--load-page-transition);
    transition-timing-function: ease;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* RESPONSIVENESS */
@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
